root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false


[*.md]
trim_trailing_whitespace = false

[*.{cs,vb}]
charset = utf-8-bom
indent_size = 4
tab_width = 4

# MS .NET properties
csharp_style_namespace_declarations = file_scoped
csharp_prefer_braces = when_multiline
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true
csharp_style_expression_bodied_lambdas = true
csharp_style_prefer_index_operator = true
csharp_style_prefer_range_operator = true
csharp_using_directive_placement = outside_namespace
csharp_style_prefer_switch_expression = true
csharp_style_prefer_top_level_statements = true
csharp_style_prefer_method_group_conversion = true
csharp_style_prefer_primary_constructors = true

dotnet_style_coalesce_expression = true
dotnet_style_explicit_tuple_names = true
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary
dotnet_style_prefer_conditional_expression_over_return = false
dotnet_style_prefer_compound_assignment = true
dotnet_style_prefer_collection_expression = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_qualification_for_method = false

# .NET Diagnostics
# dotnet_diagnostic.CA2254.severity = error # CA2254: Template should be a static expression
# dotnet_diagnostic.CA2007.severity = none # CA2007: Do not directly await a Task
# dotnet_diagnostic.CA1822.severity = warning # CA1822: Mark members as static
# dotnet_diagnostic.CA1062.severity = none # CA1062: Validate arguments of public methods
# dotnet_diagnostic.CA1515.severity = none # CA1515: Consider making public types internal
# dotnet_diagnostic.CA1721.severity = none # CA1721: Property names should not match get methods
# dotnet_diagnostic.CA1054.severity = none # CA1054: URI parameters should not be strings
# dotnet_diagnostic.CA1056.severity = none # CA1056: URI properties should not be strings
# dotnet_diagnostic.CA1716.severity = none # CA1716: Identifiers should not match keywords
# dotnet_diagnostic.CA1065.severity = none # CA1065: Do not raise exceptions in unexpected locations
# dotnet_diagnostic.CA1032.severity = none # CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1848.severity = none # CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA2208.severity = none # CA2208: Instantiate argument exceptions correctly
# dotnet_diagnostic.CA1034.severity = none # CA1034: Nested types should not be visible
dotnet_diagnostic.CS1591.severity = none # CS1591: Missing XML comment for publicly visible type or member
# dotnet_diagnostic.IDE0058.severity = none # IDE0058: Remove unnecessary expression value
dotnet_diagnostic.IDE0005.severity = warning # #IDE0005: Remove unnecessary usings/imports/directives

# ReSharper properties
resharper_redundant_empty_object_creation_argument_list_highlighting = error
resharper_template_is_not_compile_time_constant_problem_highlighting = error
resharper_entity_framework_model_validation_circular_dependency_highlighting = error
resharper_arrange_object_creation_when_type_evident_highlighting = error
resharper_auto_property_can_be_made_get_only_global_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_redundant_using_directive_highlighting = warning
resharper_unused_type_global_highlighting = warning
resharper_csharp_max_line_length = 240
resharper_max_attribute_length_for_same_line = 120

# SonarLint
dotnet_diagnostic.S1135.severity = none # S1135: Track uses of TODO
dotnet_diagnostic.S125.severity = none # S125: Sections of code should not be commented out
dotnet_diagnostic.S3928.severity = none # S3928: Parameter names used into ArgumentException constructors should match an existing one

[**/Migrations/*]
generated_code = true
dotnet_diagnostic.IDE0005.severity = none # IDE0005: Excluded for migrations